:root {
  --primary-text-color: #757575;
  --title-text-color: #000000;
  --accent-text-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-title-color: #212121;
  --primary-margin-number: 30px;
  --card-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}
.page {
  background-color: #ffffff;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.text {
  color: var(--primary-text-color);
}
.title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.navigation-item .navigation-link.current {
  color: var(--accent-text-color);
}
.section {
  padding: 94px 0;
}
/*---------------SITE NAV------------------- */

.navigation-logo {
  margin-right: 90px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-logo:hover,
.navigation-logo:focus {
  color: var(--accent-text-color);
}

.navigation-logo-first {
  color: var(--accent-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-logo-first:hover,
.navigation-logo-first :focus {
  color: var(--title-text-color);
}
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 25px;
}

.navigation-link {
  color: var(--primary-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-text-color);
}
.navigation-item {
  position: relative;
}
.current::after {
  content: '';
  position: absolute;
  width: 100%;
  display: block;
  height: 4px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
  top: 45.5px;
}

.mail-icon {
  margin-right: 10px;
  fill: currentColor;
}
.phone-icon {
  margin-right: 10px;
  fill: currentColor;
}
.contacts {
  font-style: normal;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-text-color);
}
.navigation-list {
  display: flex;
}
.navigation-item:nth-last-child(n + 2) {
  margin-right: 50px;
}
.head-address {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}

.adress-item:nth-last-child(n + 2) {
  margin-right: 50px;
}
.contacts {
  display: flex;
  align-items: center;
}
.flex {
  align-items: center;
  display: flex;
}
.flex-container {
  align-items: center;
  display: flex;
}
.header {
  border-bottom: 1px solid #ececec;
}

/*---------------HERO------------------- */
.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 210px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../image/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-white-color);
  margin-bottom: var(--primary-margin-number);
}

.button.secondary {
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  min-width: 200px;
  height: 50px;
}
/*---------------особенности------------------- */

.peculiarities-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
.peculiarities-icon-item {
  height: 100%;
}

.peculiarities-icon + .peculiarities-icon {
  margin-left: 30px;
}
.peculiarities-list {
  display: flex;
}
.peculiarities-item:nth-last-child(n + 2) {
  margin-right: var(--primary-margin-number);
}
.peculiarities-item {
  width: 270px;
}
.peculiarities-item-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  margin-bottom: 10px;
}
.peculiarities-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/*---------------чем мы занимаемся------------------- */
.examples {
  padding-top: 0;
}
.examples-title {
  margin-bottom: 50px;
}
.examples-list {
  position: relative;
  display: flex;
}
.examples-item:nth-last-child(n + 2) {
  margin-right: var(--primary-margin-number);
}
.examples-item {
  position: relative;
}
.examples-item::before {
  position: absolute;
  content: '';
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
}
.examples-text-item {
  position: absolute;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(14 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  bottom: 27px;
  right: 50%;
  transform: translate(50%);
  white-space: nowrap;
}
/*---------------команда------------------- */
.team {
  background-color: #f5f4fa;
}
.team-title {
  margin-bottom: 50px;
}
.team-list {
  display: flex;
}
.team-item {
  width: 270px;
  height: 428px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:nth-last-child(n + 2) {
  margin-right: var(--primary-margin-number);
}
.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  margin-bottom: 10px;
}
.team-text {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-item-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.team-social-list {
  display: flex;
  justify-content: center;
}

.team-social-link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:hover,
.team-social-link:focus {
  color: #ffffff;
  background-color: var(--accent-text-color);
}
.team-social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.team-social-item + .team-social-item {
  margin-left: 10px;
}
/*---------------клиенты------------------- */
.clients-title {
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  justify-content: center;
}
.clients-item {
  width: 170px;
  height: 92px;

  box-sizing: border-box;
}
.clients-item + .clients-item {
  margin-left: 30px;
}
.clients-item-icon {
  fill: currentColor;
}
.clients-link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-text-color);
  border-color: var(--accent-text-color);
}
/*---------------футер------------------- */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.left {
  margin-right: 70px;
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address:hover,
.address:focus {
  color: var(--accent-text-color);
}
.footer-logo {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-logo:hover,
.footer-logo:focus {
  color: var(--primary-white-color);
}
.navigation-logo-footer {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  margin-bottom: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-logo-footer:hover,
.navigation-logo-footer:focus {
  color: var(--accent-text-color);
}
.footer-contacts {
  display: list-item;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address-item:nth-last-child(n + 2) {
  margin-bottom: 9px;
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-text-color);
}
.right {
  margin-right: auto;
}
.foter-social-title {
  font-style: normal;
  font-size: 14px;
  line-height: calc(14 / 16);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
  text-align: left;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  color: #ffffff;
  background-color: var(--accent-text-color);
}
.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.footer-social-item + .footer-social-item {
  margin-left: 10px;
}
/*---------------портфолио------------------- */
.portfolio-item-title {
  display: block;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
}
.portfolio-item-text {
  display: block;
  font-size: 16px;
  line-height: 1.87;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.portfolio-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-btn-item:nth-last-child(n + 2) {
  margin-right: 8px;
}
.button.primary {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);

  background-color: #f5f4fa;
  border: none;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.primary:hover,
.button.primary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfolio-list {
  /* outline: 1px solid red; */
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  margin-top: -30px;
  margin-left: -30px;
}
.portfolio-item {
  margin-top: 30px;
  margin-left: 30px;
}
.portfolio-list > .portfolio-item {
  width: calc(100% / 3 - var(--primary-margin-number));
}

.content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.portfolio-card {
  display: block;
  background: #ffffff;
  text-decoration: none;

  box-sizing: border-box;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: var(--card-shadow);
}
.card-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-card:hover .card-thumb-overlay,
.portfolio-card:focus .card-thumb-overlay {
  transform: translateY(0);
}
.card-thumb-overlay {
  position: absolute;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 64px 24px;
  bottom: 0;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}

/* -----------------модалка-------------------------- */
.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;

  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}
.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;

  top: 50%;
  left: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
}
.modal-close-btn-icon {
  height: 11px;
  width: 11px;
}
